<h2><%= blog.title %></h2>
<img height="150" width="150" src="<%= blog.blogImagePath %>">
<div>Author: <%= blog.author.name %></div>
<div>Views: <%= blog.views %></div>
<div>Like: <%= blog.likes %></div> <%# Has to change to button to like the blog %>
<div>Content: <%= blog.content %></div>

<a href="/blogs/<%= blog.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', {url: `/blogs/${blog.id}`}) %>
<a href="/authors/<%= blog.author.id %>">View Author</a>