<h2><%= author.name %></h2>
<a href="/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %> <% if
(blogsByAuthor.length > 0) { %>
<h2>Blgos By Author</h2>
<% blogsByAuthor.forEach(blog => { %>
<div><%= blog.title %></div>
<a href="/blogs/<%= blog.id %>">
  <img height="150" width="150" src="<%= blog.blogImagePath %>" />
</a>
<% }) %> <% } %>
